@charset "UTF-8";
.header{
	width:100%;
	position: absolute;
	top:1%;
}
.header a{
	margin-left:4%;
	font-size: 30px;
	font-family:fantasy;
	text-decoration: none;
	color: grey;
	float: left;
}
.header img{
	width:20%;
	height:10%;
}
.header-content{
	margin-left:4.5%;
	width:40%;
	height:10%;
	float: left;
}
.header-content a{
	margin-top:1.5%;
	font-size: 20px;
}



.backpic{
	
}
